<!DOCTYPE html>
<html lang='en'>
<head>
  {% block head %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <title>{% block title %}{{ config['APP_NAME'] }}{% endblock %}</title>
    <link rel='shortcut icon' type='image/png' href="{{ config['URL_PREFIX'] }}/static/icon.png"/>
    <link rel='stylesheet'
          href="{{ config['CDN_BASE_URL'] }}/bootstrap.min.css"/>
    <link rel='stylesheet'
          href="{{ config['CDN_BASE_URL'] }}/datatables.min.css"/>
    <link href="{{ config['CDN_BASE_URL'] }}/bootstrap4.min.css"
          rel="stylesheet">
    <link rel='stylesheet' href="{{ config['URL_PREFIX'] }}/static/common.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.7/js/bootstrap.min.js"></script>
    <script src="{{ config['CDN_BASE_URL'] }}/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/2.3.2/sorting/enum.js"></script>
    <script src="{{ config['URL_PREFIX'] }}/static/common.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js"></script>

  {% endblock %}
</head>

{% block local_script %}
{% endblock %}

<body>
{% block body %}
  ...
{% endblock %}
<script>
  ;(function(d, s, c) {
      var j = d.createElement(s),
      t = d.getElementsByTagName(s)[0];
      j.src = "{{ config['CDN_BASE_URL'] }}/apm/elastic-apm-rum.umd.min.js";
      j.onload = function() {elasticApm.init(c)};
      t.parentNode.insertBefore(j, t);
  })(document, 'script',
      {
          serviceName: "{{ config['ELASTIC_APM']['SERVICE_NAME'] }}" + ' Frontend',
          serverUrl: "{{ config['ELASTIC_APM']['SERVER_URL'] }}",
          environment: "{{ config['ELASTIC_APM']['ENVIRONMENT'] }}"
      }
  )
</script>
</body>
</html>